html{
    background-color: #F6F8F9;
}
header{
    width: 1440px;
}
.header-div{
    width: 490px;
    display: flex;
    justify-content: space-between;
}
.navigation{
    width: 280px;
    display: flex;
    justify-content: space-between;
    padding: 22px 40px 17px 0;
    font-size: 11px;
}
.bold{
    font-weight: bold;
}
.logo{
    padding: 20px 92px 17px 20px;
}
.trending-section{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.trending{
    width: 1160px;
    background-color: bisque;
}
.trending-div{
    display: flex;
    justify-content: space-between;
}
.trending-title{
    margin-bottom: 40px;
    font-size: 24px;
}
.trending-div1{
    width: 360px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.trending-div1-title{
    width: 280px;
    font: 16px;
    color: #fff;
}
.trending-div1-bottom{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 66px 40px 40px 40px;
}
.trending-text{
    width: 260px;
    font-size: 13px;
    color: #A6ADB4;
}
.time{
    width: 70px;
    display: flex;
}
.image-div{
    display: flex;
    justify-content: space-between;
}
.left-div-img{
    margin-top: 40px;
}
.right-div-img{
    margin: 102px 0 102px 0;
}